.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.carousel h2 {
  text-decoration: underline;
  margin: 0;
}

hr {
  margin: 0;
  border-top: none;
}
