.container {
  flex-grow: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}

.loaded-image {
  width: 350px;
  height: 350px;
}

.rotate-icon {
  cursor: pointer;
}

.img {
  max-width: 100%;
}
