.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}

.left,
.right {
  padding: 1rem;
}
