*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

img {
  border-radius: 2px;
  /* transition: transform 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6); */
}
